@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-primary font-secondary bg-white;
  }
  .h1 {
    @apply text-[54px] lg:text-[108px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2;
  }
  .section {
    @apply min-h-screen;
  }
  .btn {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base uppercase font-secondary font-semibold bg-primary text-white;
  }
}

@layer utilities {
  @variants responsive {
      .masonry-4-col {
          column-count: 4;
          column-gap: 1em;
      }
      .masonry-2-col {
          column-count: 2;
          column-gap: 1em;
      }
      .break-inside {
          break-inside: avoid;
      }
  }
}
html {
  scroll-behavior: smooth;
}
.loader-container {
  @apply flex justify-center items-center;
}

.loader {
  @apply relative w-48 h-48 rounded-full bg-gradient-to-br from-red-500 via-blue-500 to-green-500 animate-spin;
  @apply border-4 border-white;
}

.loader-span {
  @apply absolute w-full h-full rounded-full bg-gradient-to-br from-red-500 via-blue-500 to-green-500;
}

.loader-span:nth-child(1) {
  @apply blur-md;
}

.loader-span:nth-child(2) {
  @apply blur-lg;
}

.loader-span:nth-child(3) {
  @apply blur-xl;
}

.loader-span:nth-child(4) {
  @apply blur-2xl;
}

.loader:after {
  @apply absolute top-4 left-4 right-4 bottom-4 bg-gray-100 border-solid border-4 border-white rounded-full;
}